{% extends "base_generic.html" %}

{% block content %}
    <h1>Blog List</h1>

    {% if blog_list %}
    <ul>

      {% for blog in blog_list %}
      <li>
        <a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a> ({{ blog.date }}) - <a href="{{ blog.author.get_absolute_url }}">{{blog.author.user.username }}</a>{% if blog.author.user == user %} <a href="{% url 'blog-update' blog.pk %}">Edit</a> | <a href="{% url 'blog-delete' blog.pk %}">Delete</a>{% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no blogs in the site.</p>
    {% endif %}
{% endblock %}